@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}
/*! Preloader */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preloader-logo {
    width: 200px;
      height: 200px;
  animation: scaleInOut 1.5s infinite;
}

@keyframes scaleInOut {
  0% {    
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* ! active link */
.ActiveLink.active {
  color: #1d9bf0;
}
.UnderHomeNav.active{
  border-bottom: 4px #1d9bf0 solid;
  display: block;
  margin: 4px auto 0 auto;
  width: 2rem;
}

/* ! Profile active */
.ProfileActiveF.active{
    border-bottom: 3px #1d9bf0 solid;
    border-radius: 5px 5px 5px 5px;
}

/* ! phone numeber drop-down */
.inputDrowndopDiv  {
  color: white;
  background-color: transparent;
  border: solid 1px#ffffffd5;
  padding: 0 5px;
}
.inputDrowndopDiv input{
  background-color: inherit;
  outline: none;
  height: 40px;
}
.inputDrowndopDiv option {
  color: black;
}

input::-webkit-calendar-picker-indicator {
  color: gold;
}

@media (min-width: 1280px) {
  .inputDrowndopDiv input {
    height: 44px;
  }
}


/* ! change page animation */
.changePageanimation {
  animation-name: dropdown;
  animation-duration: 1s;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ! Error container */
.ErrorContainer{
  animation: translateAnimation 0.5s ease-in-out;
}
@keyframes translateAnimation {
  0% {
        opacity: 0;
  }

  100% {
        opacity: 1;
  }
}


/* ! date of birth*/
.SignupDate .react-date-picker {
  background-color: white;
  color: black;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 32px;
  width: 100%;
  outline: none;
}

/* ! background color*/
.color-Toggle{
  transition: ease-in-out 0.01s;
}


/* !  progress */
.HomeProgress .ant-progress-text {
  color: #117dd5 !important;
}
/* ! update page  */
.update-user-Date .react-date-picker {
  height: 50px;
  margin-top: 20px;
  width: 100%;
  outline: #3B82F6;
  border: #6B7280;
  border-radius: 6px;
}
.update-user-Date .react-date-picker .react-date-picker__inputGroup__leadingZero{
  padding-left: 5px;
}