@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

/* Preloader */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preloader-spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ! phone numeber drop-down */
.inputDrowndopDiv input {
  color: white;
  background-color: transparent;
  border: solid 1px#ffffffd5;
  height: 40px;
  padding: 0 16px;
}

.inputDrowndopDiv option {
  color: black;
}

input::-webkit-calendar-picker-indicator {
  color: gold;
}

@media (min-width: 1280px) {
  .inputDrowndopDiv input {
    height: 44px;
  }
}


/* ! change page animation */
.changePageanimation {
  animation-name: dropdown;
  animation-duration: 1s;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ! Error container */
.ErrorContainer{
  animation: translateAnimation 0.5s ease-in-out;
}
@keyframes translateAnimation {
  0% {
        opacity: 0;
  }

  100% {
        opacity: 1;
  }
}


/* ! date of birth*/
.SignupDate .react-date-picker {
  background-color: white;
  color: black;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 32px;
  width: 100%;
  outline: none;
}