@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

/*! Preloader */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preloader-logo {
    width: 200px;
      height: 200px;
  animation: scaleInOut 1.5s infinite;
}

@keyframes scaleInOut {
  0% {    
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* ! active link */
.ActiveLink.active  {
  background-color: rgba(246, 248, 250, 1);
  color: rgba(42, 82, 152, 1);
}

/* ! phone numeber drop-down */
.inputDrowndopDiv  {
  color: white;
  background-color: transparent;
  border: solid 1px#ffffffd5;
  padding: 0 5px;
}
.inputDrowndopDiv input{
  background-color: inherit;
  outline: none;
  height: 40px;
}
.inputDrowndopDiv option {
  color: black;
}

input::-webkit-calendar-picker-indicator {
  color: gold;
}

@media (min-width: 1280px) {
  .inputDrowndopDiv input {
    height: 44px;
  }
}


/* ! change page animation */
.changePageanimation {
  animation-name: dropdown;
  animation-duration: 1s;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ! Error container */
.ErrorContainer{
  animation: translateAnimation 0.5s ease-in-out;
}
@keyframes translateAnimation {
  0% {
        opacity: 0;
  }

  100% {
        opacity: 1;
  }
}


/* ! date of birth*/
.SignupDate .react-date-picker {
  background-color: white;
  color: black;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 32px;
  width: 100%;
  outline: none;
}

/* ! background color*/
.color-Toggle{
  transition: ease-in-out 0.2s;
}

/*! card loading animation */
.smallcard .card{
  width:100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.card__skeleton{
  background-image: linear-gradient(
    90deg, #ccc 0px, rgb(229 229 229 / 90%) 40px, #ccc 80px
  );
  background-size: 300%;
  background-position: 100% 0 ;
  border-radius: inherit;
  position: relative;
  animation: shimmer 1.5s infinite;
}
.card-title{
  height: 15px;
  margin-bottom: 15px;
}
@keyframes shimmer {
  to{
    background-position: -100% 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}
.smallcard .linear-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.inter-draw {
  background: #FFF;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
}

.inter-right--top {
  background: #FFF;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 100px;
}

.inter-right--bottom {
  background: #FFF;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 100px;
}

.inter-crop {
  background: #FFF;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
}
/*! end of card animation */


/* !  progress */
.progress .react-sweet-progress-circle-outer {
  display: block;
  margin: 0 auto;
}
/* ! update page  */
.update-user-Date .react-date-picker {
  background-color: white;
  color: black;
  height: 50px;
  margin-top: 20px;
  width: 100%;
  outline: #3B82F6;
  border: #6B7280;
  border-radius: 6px;
}
.update-user-Date .react-date-picker .react-date-picker__inputGroup__leadingZero{
  padding-left: 16px;
}

